<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto-clearskies: Air Quality Measurements</title>
</head>
<body>
<body>
{%- for row in measurements.items() -%}
<div class="measurement">{{ row[0] }}: {{ row[1] }} {{ sensorUnits[row[0]] }}</div>
{%- endfor -%}
</body>
</body>
</html>