<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto-clearskies: Air Quality Measurements</title>
</head>
<body>
<!-- TODO add flexbox set of rows with measurements here -->
{%- for row in measurements.items() -%}
<div class="measurement">{{ row[0] }}: {{ row[1] }} {{ sensorUnits[row[0]] }}</div>
{%- endfor -%}
<!-- TODO add buttons to get historical measurements graphs here -->
</body>
<script type="application/javascript" src="app.js"></script>
<link href="static/style.css" rel="stylesheet">
</html>